<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Üdv a főoldalon!</h1>

    {{ nevek_lista }}

    <br>

    {{ nevek_szotar }}

    <br>

    {% for nev in nevek_lista %}

    {% if nev == "Eszter" %}

       <p><b style="color: red; text-decoration: line-through;">{{nev}}</b> </p>    

    {% elif nev == "Hajnalka" %}

       <p><b style="background-color: yellow; text-decoration: underline;">{{ nev }}</b></p> 

    {% else %}
    
    <p><strong>{{ nev }}</strong></p>

    {% endif %}

       

    {% endfor %} 

    <br>

    {% for nev, kor in nevek_szotar.items %}

    {% if kor > 23 %}

        <h1>{{ nev }}</h1>

    {% else %}

        {{ nev }}

    {% endif %}

    <p>{{ nev }} - {{ kor }}</p>

    {% endfor %}

</body>
</html>