{% extends 'base.html' %}

{% block tartalom %}


<table class="table shadow">
<thead>
    <tr>
        <th>Id</th>
        <th>Keresztnév</th>
        <th>Vezetéknév</th>
        <th>Kor</th>
        <th>Házas</th>
    </tr>

</thead>
<tbody>
    {% for szemely in szemelyek  %}
    
    {% if szemely.hazas %}
    
    <tr class="table-success">
        <td>{{ szemely.id }}</td>
        <td>{{ szemely.vezeteknev }}</td>
        <td>{{ szemely.keresztnev }}</td>
        <td>{{ szemely.eletkor }}</td>
    </tr>

    {% else %}

    <tr class="table-warning">
        <td>{{ szemely.id }}</td>
        <td>{{ szemely.vezeteknev }}</td>
        <td>{{ szemely.keresztnev }}</td>
        <td>{{ szemely.eletkor }}</td>
    </tr>

    {% endif %}
    
    {% endfor %}
</tbody>
</table>
    <div class="row justify-content-center">
        <div class="col-1">

    <input type="button" class="btn btn-primary mb-5" onclick="location.href={% url 'uj-szemely' %}" value="új személy">    
    </div></div>
    

<!---
<input type="button" onclick="location.href={% url 'uj-szemely' %}" value="Új személy">

    <table style="border: solid 1px black;">
        <tr style="border: solid 1px black;">
            <th>Vezetéknév</th>
            <th>Keresztnév</th>
            <th>Életkor</th>
            <th>Házas</th>
            <th>Élettörténet</th>
            <th>Létrehozva</th>
        </tr>    
        {% for szemely in szemelyek %}

        <tr>
            {% if szemely.hazas %}

            <td style="color: red;">{{ szemely.vezeteknev }}</td>
            <td>{{ szemely.keresztnev }}</td>
            <td>{{ szemely.eletkor }}</td>
            <td>{{ szemely.hazas }}</td>
            <td>{{ szemely.elettortenet }}</td>
            <td>{{ szemely.letrehozva }}</td>
            
            {% else %}

            <td style="font-family: calibri;">{{ szemely.vezeteknev }}</td>
            <td>{{ szemely.keresztnev }}</td>
            <td>{{ szemely.eletkor }}</td>
            <td>{{ szemely.hazas }}</td>
            <td>{{ szemely.elettortenet }}</td>
            <td>{{ szemely.letrehozva }}</td>

            {% endif %}


        </tr>
        
        {% endfor %}

    </table>   
-->


{% endblock tartalom %}



